<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mooseware.CantorInABox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mooseware.CantorInABox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Mooseware.CantorInABox.Properties.Settings>
            <setting name="WebApiUrlPort" serializeAs="String">
                <value>1818</value>
            </setting>
            <setting name="BookNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Shabbat Siddur</string>
                        <string>Family Siddur</string>
                        <string>Festival Machzor</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="WebApiUrlRoot" serializeAs="String">
                <value>http://0.0.0.0</value>
            </setting>
            <setting name="PitchFloor" serializeAs="String">
                <value>-8</value>
            </setting>
            <setting name="PitchCeiling" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PanFloor" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PanCeiling" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TempoFloor" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TempoCeiling" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="VolumeFloor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VolumeCeiling" serializeAs="String">
                <value>100</value>
            </setting>
        </Mooseware.CantorInABox.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Mooseware.CantorInABox.Properties.Settings>
            <setting name="LastPlaylistFile" serializeAs="String">
                <value />
            </setting>
            <setting name="KnownLibraries" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="LastLibraryFile" serializeAs="String">
                <value />
            </setting>
        </Mooseware.CantorInABox.Properties.Settings>
    </userSettings>
</configuration>